.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  padding: 15px;
  width: 300px;

  border: 5px solid;
  border-radius: 25px;

  &__values {
    margin-bottom: 20px;
    padding: 8px 2px;
    width: 140px;
    
    font-size: 20px;
    text-align: center;
    color: #ffffff;
    background-color: #685dce;
    border: 1px solid #808080;
    border-radius: 10px;
  }

  &__buttons {
    display: flex;
    justify-content: space-between;
    width: 280px;
  }

  &__button {
    padding: 5px 18px;
    border-radius: 15px;

    &:focus {
      outline: none;
    }

    &--start {
      background-color: #7ddd7d;
    }

    &--start-red {
      background-color: #d88e8e;
    }

    &--reset {
      background-color: #ff0000;
    }
  }
}